<!--
  * @Copyright (C) 2019 All rights reserved.
  * @date: 2019
  * @file: detect_landmark.launch
  * @version: v0.0.1
  * @author: kwhu@visionnav.com
  * @create_date: 2019-04-01 14:57:22
  * @last_modified_date: 2019-04-19 13:02:14
  * @brief: TODO
  * @details: TODO
  *-->

<launch>
  <node pkg="laser_detection" type="landmark_detector_node" name="localization_detection" args="$(find laser_detection)/data/poster_landmark_with_submap.txt" output="screen">
  </node>
</launch>
